.container{
    background-color: orange;
    max-width: 800px; 
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'header header header' 
    'menu content content' 
    'footer footer footer';
}

.header {
    background-color: purple;
    height: 60px;
    grid-area: header;
}

.wrapper {
    background-color: blue;
    /*flex-direction: row-reverse;*/
    flex-direction: row;
    display: flex;
}

.menu{
    background-color: yellow;
    
    grid-area: menu;
   }

.content {
    background-color: aqua;
    width: 70%;
    grid-area: content;
   
}

.footer{
    background-color: pink;
    grid-area: footer;
}