.container{
    background-color: orange;
    max-width: 800px; 
    margin: 0 auto;
}

.header {
    background-color: purple;
    height: 60px;
}

.wrapper {
    background-color: blue;
    /*flex-direction: row-reverse;*/
    flex-direction: row;
    display: flex;
}

.menu{
    background-color: yellow;
    
    width: 30%;
   }

.content {
    background-color: aqua;
    width: 70%;
   
}

.footer{
    background-color: pink;
    
}